
@{

    ViewData["Title"] = "AboutUs";
}


<h2>@ViewData["Title"]</h2>





<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="~/css/site.css">

    <style>
        li {
            display: inline;
        }

        ul {
            text-align: center;
            background-color: #333;
        }

        li a {
            color: white;
            padding: 14px 16px;
            text-decoration: none;
        }
    </style>
</head>



<body>
    <div class="david">
        <img src="~/images/Picture - David.JPG" ALIGN=CENTER HEIGHT=400 WIDTH=320>
        <BR>
        <br />
        Hello, I'm David, a graduate student in the business analytics program with the University of South Florida. Along with my finance undergrad,
        i'll be looking to obtain a business analyst role within corporate finance, where I can bring data driven solutions to operation inefficiencies 
        and profit hinderences, through data modeling and visualizations. For this assignment I implemented the overall design and style of
        the web pages and constructing the about us and home page, along with helping build and implement the data chart and all web page images
        <BR>
        <BR>
        <img src=" ~/images/DVGithubContributions.png" height=300 width=420>
    </div>


    <div class="dylan">
        <img src="~/images/Picture - Dylan.JPG" HEIGHT=400 WIDTH=320 />
        <br />
        <br />
        Hello, I'm Dylan Stewart. I am a graduate student in the Business Analytics and Information Systems program at the University of South Florida,
        the same school and program where I completed my undergrad, trying to continue to refine my skills to land a job in the data analytics field. I love
        working with data and information and trying to find the stories and value hidden inside. I was the project lead for this assignment and my main tasks
        were making sure each task was delegated and accounted for as well as contributing to each aspect of the pages.
        <BR>
        <BR>
        <img src="~/images/dylangitcontribution.png" width="450" />
    </div>


    <div class="olanrewaju">
        <img src="~/images/Picture - Olanrewaju.JPG" height=400 width=318>
        <br>
        <br>
        Hello, I'm Olanrewaju Olasupo. I'm currently pursing a Masters degree in Business Analytics and Information Systems at the MUMA College of
        Business at the University of South Florida. I work at KPMG as a Performance/Data Analyst. I integrated the CRUD functions where data can be
        manipulated in ways (create, update, read and delete) to refelect the desire of the project.
        <br />
        <br />
        <img src="~/images/OlasupogitContribution.png" width="350" />

    </div>



    <!--JS link-->


    <div class="ERD">
        <h1> Data Model </h1>
        <img src="~/images/picture - assignment 4 (ERD).jpg">
        <br />
        <br>
    </div>
</body>


</html>
