@{
    ViewData["Title"] = "State Stats";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<body>
    Colorado: <a asp-area="" asp-controller="Colorado" asp-action="ColoradoStats">Click Here</a>
    Texas: <a asp-area="" asp-controller="Texas" asp-action="TexasStats">Click Here</a>
    //These Two Do Not work Yet
    Iowa: <a asp-area="" asp-controller="Iowa" asp-action="IowaStats">Click Here</a>
    Nevada: <a asp-area="" asp-controller="Nevada" asp-action="NevadaStats">Click Here</a>
    Test: <a asp-area="" asp-controller="Home" asp-action="Test">Cilck Here</a>
</body>
