@{
    ViewData["Title"] = "State Stats";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<body>
    Other Test: <a asp-area="" asp-controller="Detail" asp-action="Master">Click Here</a>
    
    Test: <a asp-area="" asp-controller="Home" asp-action="Test">Cilck Here</a>
</body>
