@{
    ViewData["Title"] = "Test";
}
<h2>@ViewData["Title"]</h2>

<p>One of the States we will show stats for</p>

@foreach (DIS_Assignment4.Models.Datum result in Model.data)
{
    @(result.key+ result.data_year + result.value)
    <br />
}

@*@foreach(DIS_Assignment4.Models.Root result in Model.keys)
{
    @(result.keys)
}*@