<h2>@ViewData["Title"]</h2>

<p>All races</p>
@model IEnumerable<Key>
<table>
<tr>
<th>Race</th>
</tr>
@foreach (Key k in Model)
    {
<tr>
<td><a href="/races/@k.ID"> @k.race</a></td>
</tr>
    }
</table>