@model DIS_Assignment4.Models.TexasRootobject

@{
    ViewData["Title"] = "Texas Stats";
}
<h2>@ViewData["Title"]</h2>

<p>One of the States we will show stats for</p>

@foreach (DIS_Assignment4.Models.TexasResult result in Model.results)
{
    @("Year: " + result.data_year + "  " + "    Cases Reported:   "+ result.aggravated_assault )
    <br />
}
