@{
    ViewData["Title"] = "Races";
}

<h2>@ViewData["Title"]</h2>
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
</head>
    <body>
        <div>
            <h3 align="Center">Here is the list of each race the NIBRS keeps statistics for</h3>
            <h4 align="Center">Click "Details" to get a more in depth look at the years number of arrests</h4>
            <br />
        </div>

        @model IEnumerable<DIS_Assignment4.Models.Key>
        <table align="center">
            <tr>
                <td><h4><b>Race Name</b></h4></td>
                <td><h4><b>Arrests By Year</b></h4></td>
                <td><h4><b>Graphical Representation</b></h4></td>
            </tr>

            @foreach (DIS_Assignment4.Models.Key result in Model)
            {
        <tr>
            <td><h4> @(result.key )</h4></td>
            <td>
                <form asp-controller="Detail" asp-action="Details" method="post">
                    <input type="hidden" name="key" value="@result.key" />
                    <button type="submit" class="btn btn-primary btn-sm">Details</button>
                </form>
            </td>
            <td>
                <form asp-controller="Detail" asp-action="Chart" method="post">
                    <input type="hidden" name="key" value="@result.key" />
                    <button type="submit" class="btn btn-primary btn-sm">Chart</button>
                </form>
            </td>
        </tr>
            }
        </table>


        <br />
    </body>
</html>

