@{
    ViewData["Title"] = "Detail";
}

<h2>@ViewData["Title"]</h2>

<p>One of the States we will show stats for</p>

@model IEnumerable<DIS_Assignment4.Models.Datum>

@foreach (DIS_Assignment4.Models.Datum result in Model)
{
    <form asp-controller="Detail" asp-action="Update" method="post">
        <input type="hidden" name="ID" value="@result.ID" />
        <input type="text" name="data_year" value="@result.data_year" placeholder="Year" />
        <input type="text" name="value" value="@result.value" placeholder="Value" />

        <button type="submit" class="btn btn-primary btn-sm">Update</button>
    </form>
    <br />
}

