@{
    ViewData["Title"] = "Detail";
}

<h2>@ViewData["Title"]</h2>

<p>One of the States we will show stats for</p>

@model IEnumerable<DIS_Assignment4.Models.Key>

@foreach (DIS_Assignment4.Models.Key result in Model)
{
    @(result.key) <form asp - controller = "Detail" asp - action = "Detail" method = "post" >
                 <input type = "hidden" name = "sector" value = "@result.key" />
                 <button type = "submit" class="btn btn-primary btn-sm">Details</button>
                  </form>
    <br />
}

