@{
    ViewData["Title"] = "Update Confirmation";
}

<h2>@ViewData["Title"]</h2>

<p>Record Updated!</p>
<p>See for yourself by checking back <a asp-area="" asp-controller="Detail" asp-action="Detail">Here</a></p>